body{
    background-color: rgb(62, 75, 75);
}
h1{
    color: rgb(88, 108, 175);
    display: inline-block;
    border: 2px solid rgb(117, 66, 66);
    font-size: x-large;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}