body{
    background-image: url("https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    touch-action: pan-y;
}
h1{
    position: relative;
    bottom: 50%;
    left: 50%;
    color: rgb(8, 55, 207);
    display: inline-block;
    border: 2px solid rgb(117, 66, 66);
    font-size: x-large;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}