body{
    color: white;
    background-color: black;
    background: linear-gradient(90deg,#0d9445,#3a1b1b);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid;
    padding-left: 20px;
}